 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 @import 'partials/forms';

 body{
   padding-top: 70px;
 }
 
 img{
   max-width: 100%;
 }

 .gallery__img {
   margin-bottom: 1em;
 }

